h1 {
  font-style: italic;
}

a{
  
  text-decoration:none;
  
}

img {
    max-width: 100%;
    max-height: 100%;
}

.wrapper{
  
  display:flex;
  flex-direction:row;
  
  
}


.project-text{
  
  background-color:blue;
  
  
  
}